</main>
 <footer class="c-footer mt-auto">
      <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="#" class="navbar-brand">
          <img src="/images/content/logo.png"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarFooterCollapse" aria-controls="navbarFooterCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
          <div id="navbarFooterCollapse" class="navbar-collapse collapse">
            <ul class="navbar-nav align-items-md-center">
              <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Resources</a></li>
              <li class="nav-item">
                <button type="text" class="btn btn-primary rounded-pill">Contact us</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="c-footer-bottom bg-light">
        <div class="container">
          <div class="d-md-flex justify-content-md-between align-items-md-center">
            <ul class="nav">
              <li class="nav-item"><a href="#" class="nav-link">Privacy</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Terms</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Fair Usage</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Sitemap</a></li>
            </ul>
            <div>© copyright #stratapp<span class="c-devider">|</span>website by VA</div>
          </div>
        </div>
      </div>
    </footer>
    
<!-- Javascript -->
<script type="text/javascript" src="{{ "/js/jquery-3.3.1.slim.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js"  | absolute_url }}"></script>

<!-- <script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script> -->
</body>
</html>