---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

</div>
<section class="l-section pt-5">

    <div class="container container--small"><a href="/events" class="text-dark d-inline-block mb-4">< back to events</a>

              
            <div class="row"> 
              
              <div class="col-md-7">

                <h1 class="text-primary font-weight-bold mb-0 h3">{{ page.title }}</h1>
                
                <h4 class="text-primary">{{ page.sub_heading }}</h4>    

                  {% if page.hero_image and page.hero_image != "" %}
                      <img src="{{ page.hero_image | absolute_url }}" alt="{{ page.title }}" class="img-fluid rounded-lg mb-4 mb-sm-5">
                  {% else %}
                      <img src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ page.title }}" class="img-fluid rounded-lg mb-4 mb-sm-5">
                  {% endif %}

                  {{ content }}
                  
                  <p><span class="icon icon-clock"></span> {{ page.length }}<br>
                     <span class="icon icon-marker"></span> {{ page.location }}</p>


              </div>

              <div class="col-md-5">
                <div class="border">
                    <!-- Calendly inline widget begin -->
                  <div class="calendly-inline-widget" data-url="https://calendly.com/stratapp/cxo-event-brisbane?hide_event_type_details=1&primary_color=056eb4" style="min-width:320px;height:630px;"></div>
                  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
                  <!-- Calendly inline widget end -->
                </div>

              </div>

            </div>

          

    </div>

</section>


<section class="l-section bg-primary text-white text-center">

        <div class="container">

          <div data-aos="fade-up" data-aos-delay="100">

            <h3>{{ page.quote | markdownify }}</h3>

          </div>

        </div>

</section>

<section class="l-section bg-white text-primary text-center">
        <div class="container">

          <div data-aos="fade-up" data-aos-delay="100">

            <h3>see what our customers have to say</h3>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/tOwjEOt1zYU?rel=0&color=056eb4&modestbranding=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>

        </div>
</section>

<section class="l-section bg-light  text-primary text-center">

        <div class="container">

          <div data-aos="fade-up" data-aos-delay="100">
            
            <h4 class="font-weight-bold">some other headline here about the event</h4>
            <a href="#" class="btn btn-danger rounded-pill my-2 my-sm-0">Register for {{ page.sub_heading }} Now</a>

          </div>

        </div>
</section>




{% include signupform.html class="bg-dark text-white" %}
      
