---
layout: default
---
{% comment %}
    A general page layout. Used by default for all content on the site.
{% endcomment %}

<!-- {% include breadcrumbs.html class="content-narrow" %}

<div class="container pure-g">
    <div class="pure-u-1">
        <div class="content content-narrow">
            {{ content }}
        </div>
    </div>
</div> -->


 	   <section class="l-section bg-danger text-white">
        <div class="container container--small text-center">
          <h3 class="font-weight-bold">Fully integrated software empowering teams to achieve organisational goals</h3>
          <div class="h5">Solving org-wide strategy and execution.</div>
        </div>
      </section>

      {% for feature in site.features %}
		
      {% case forloop.index %}
      {% when 1 %}
      	<section class="c-feature bg-white">
      {% when 2 %}
      	<section class="c-feature bg-primary">
      {% when 3 %}
		<section class="c-feature bg-lightest">
      {% when 4 %}
		<section class="c-feature bg-dark">
      {% endcase %}

        <div class="container container--small">
          <div class="d-md-flex align-items-md-center text-center text-md-left">
            <div class="c-feature__img mx-auto mb-4 mb-md-0">
            	
            	{% if feature.banner_image and feature.banner_image != "" %}
						<img src="{{ project.banner_image | absolute_url }}" alt="{{ project.title }}">
				{% else %}
						<img src="https://via.placeholder.com/220?text=example+of+image" alt="{{ project.title }}">
				{% endif %}

            </div>

            <div class="c-feature__body">
            	{% case forloop.index %}
      			{% when 1 %}
              		<h4 class="font-weight-bold text-primary mb-3">{{ feature.title }}</h4>
              	{% when 2 %}
					<h4 class="font-weight-bold mb-3">{{ feature.title }}</h4>
              	{% when 3 %}
					<h4 class="font-weight-bold text-primary mb-3">{{ feature.title }}</h4>
              	{% when 4 %}
              		<h4 class="font-weight-bold mb-3">{{ feature.title }}</h4>
              	{% endcase %}	
              <div class="h5 mb-3">{{ feature.content }}</div>
              <a href="#" class="c-feature__link">Read more ></a>
            </div>
          </div>
        </div>
      </section>

      {% endfor %}

     <!--  <section class="c-feature bg-primary">
        <div class="container container--small">
          <div class="d-md-flex align-items-md-center text-center text-md-left">
            <div class="c-feature__img c-feature__img--empty mx-auto mb-4 mb-md-0">
            </div>
            <div class="c-feature__body">
              <h4 class="font-weight-bold mb-3">10-apps-in-1</h4>
              <div class="h5 mb-3">Up until about 2010, there was an enthusiastic rush to add as many consumer apps to your smartphone as possible. At almost every pub or restaurant gathering you’d hear someone say: “So, what cool new apps have you discovered this week?” A similar explosion of choice happened with enterprise software, fuelled on by the niche focus of venture capital and group think.</div><a href="#" class="c-feature__link">Read more ></a>
            </div>
          </div>
        </div>
      </section>
      <section class="c-feature bg-lightest">
        <div class="container container--small">
          <div class="d-md-flex align-items-md-center text-center text-md-left">
            <div class="c-feature__img c-feature__img--empty mx-auto mb-4 mb-md-0">
            </div>
            <div class="c-feature__body">
              <h4 class="font-weight-bold text-primary mb-3">Build your strategy as a cascading tree</h4>
              <div class="h5 mb-3">
                 
                The strategic planning tree cascades as:
                <div class="h4 text-primary font-weight-bold">goals > objectives > actions > projects</div>
              </div>
              <p>At each level in the tree you can assign different owners, teams, workboards, tasks and KPIs. You can quickly catch up strategy execution via the dashboard, trending and social views.  What people have access to see and interact with is subject to 4x security levels.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="c-feature bg-dark">
        <div class="container container--small">
          <div class="d-md-flex align-items-md-center text-center text-md-left">
            <div class="c-feature__img c-feature__img--empty mx-auto mb-4 mb-md-0">
            </div>
            <div class="c-feature__body">
              <h4 class="font-weight-bold mb-3">Build your KPIs as a cascading tree - both strategic and day to day KPI</h4>
              <div class="h5 mb-3">KPIs can be strategic or day to day, quantitative or qualitative. KPIs can be viewed as their own hierarchical tree (which automatically overlay onto a Live Org Chart), indented list or balanced scorecard.</div><a href="#" class="c-feature__link">Read more ></a>
            </div>
          </div>
        </div>
      </section> -->
      <section class="l-section bg-danger text-white">
        <div class="container">
          <form class="row no-gutters justify-content-lg-center align-items-lg-center text-center">
            <div class="col-lg-auto mr-lg-4">
              <div class="mb-3 mb-lg-0">update me on future #stratapp innovations</div>
            </div>
            <div class="col-lg-auto col-lg-2 mr-lg-4">
              <label for="inlineFormInputName" class="sr-only">Name</label>
              <input type="text" id="inlineFormInputName" placeholder="name" class="form-control c-form-control rounded-pill mb-3 mb-lg-0">
            </div>
            <div class="col-lg-auto col-lg-3 mr-lg-4">
              <label for="inlineFormInputEmail" class="sr-only">Email</label>
              <input type="email" id="inlineFormInputEmail" placeholder="email" class="form-control c-form-control rounded-pill mb-3 mb-lg-0">
            </div>
            <div class="col-lg-auto">
              <button type="submit" class="btn btn-outline-danger rounded-pill">Submit</button>
            </div>
          </form>
        </div>
      </section>